
{% extends 'useraccount/base.html' %}
{% load static %}
 {% block title %}<title>FakeBook</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock  %}

{% block content %}
<div class="home">

 <div class="home-left">

  <ul class="leftLinks">
  <li class="link"><a class="link-item" href="/"><i class="material-icons">home</i>Home</a> </li>
   <li class="link"><a class="link-item" href="/"><i class="material-icons">add_circle</i>Post</a></li>
  <li class="link"><a class="link-item" href="/"><i class="material-icons">account_circle</i>Profile</a> </li>
   <li class="link"><a class="link-item" href="/"><i class="material-icons">logout</i>Logout</a></li>
  </ul>

 </div>



 <div class="home-center">Center</div>
 <div class="home-right">Right</div>


</div>

</body>
</html>

{% endblock %}