{% extends 'useraccount/base.html' %}
{% load static %}
 {% block title %}<title>FakeBook-Login</title>{% endblock %}
{% block css %}{% endblock  %}

{% block content %}

<p class="message">
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  There was an error with your form
</div>

{% endif %}
</p>
<h3>Register</h3>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{form.as_p}}
    {{profile_form.as_p}}
    <span>Already a member? <a href="/members/login-user/">Login</a></span><br>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

</body>
</html>

{% endblock %}